@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 4vh 24vw;
}

button {
  margin: 4px;
}

@media only screen and (max-width: 900px) {
  .App {
    margin: 4vh 6vw;
  }
}
